{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

    <!--Breadcrumb Banner -->
    <div class="pq-breadcrumb bg-about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <div class="pq-breadcrumb-title">
                            <h1>About Us</h1>
                        </div>
                        <div class="pq-breadcrumb-container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="./"><i class="fas fa-home me-2"></i>Home</a>
                                </li>
                                <li class="breadcrumb-item active">About Us</li>
                            </ol>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Banner -->

    <!-- about section  -->
    <section class="about-us">
        <div class="container">
            <div class="row pq-pb-45">
                <div class="col-xl-6">
                    <div class="about-us-img">
                        <img src="{% static 'images/about-us/about-page-premium-granite-selection.webp' %}" class="pq-image1 wow animated fadeInLeft" alt="Premium Granite Selection">
                        <img src="{% static 'images/about-us/about-page-stone-henge-granites-craftsmanship.webp' %}" class="pq-image2 wow animated zoomIn" alt="Stonehenge Granites Craftsmanship">
                    </div>
                </div>
                <div class="col-xl-6 pq-about-us-padding wow animated fadeInRight         ">
                    <div class="pq-section-title pq-style-1 pq-mb-15">
                        <span class="pq-section-sub-title">Stonehenge Granites</span>
                        <h5 class="pq-section-main-title">History of Stonehenge Granites</h5>
                        <p class="pq-section-description">
                            Stonehenge Granites ventured into the granite business in 2015 as part of our diversification 
                            strategy. We established our first factory in 2020 in Andhra Pradesh. Building on our early 
                            achievements, we expanded into granite quarries in Telangana the same year. Currently, we 
                            are in the process of acquiring an additional quarry in Andhra Pradesh and constructing a new 
                            factory in Telangana. Our operations are complemented by our expertise in IT services 
                            through Subhujo Technologies Private Limited, with a presence in India, South Africa, Nigeria, 
                            USA and Dubai.
                        </p>
                        <strong>Vision for the Future:</strong> 
                        <p class="pq-section-description">
                            We aim to uphold the highest standards of quality in our products and 
                            services, cultivate a culture of excellence among our staff, and expand our global presence to 
                            become a prominent player in the granite industry.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="divider pq-left-border pq-45"></div>
            </div>
            <div class="row">
                <ul class="pq-list-check pq-mb-35">
                    <strong>Unique Selling Points:</strong>
                    <li>
                        <i class="fas fa-circle"></i>
                        <span>
                            <strong>Quality:</strong>
                            We are committed to providing the highest quality granite products.
                        </span>
                    </li>
                    <li>
                        <i class="fas fa-circle"></i>
                        <span> 
                            <strong>Customization:</strong>
                            We offer tailored solutions to meet our clients' specific needs.
                        </span>
                    </li>
                    <li>
                        <i class="fas fa-circle"></i>
                        <span>
                            <strong>Competitive Pricing:</strong>
                            Our pricing strategy ensures excellent value for money.
                        </span>
                    </li>
                </ul>
                <ul class="pq-list-check pq-mb-35">
                    <strong>Notable Clients and Markets:</strong>
                    <li>
                        <i class="fas fa-circle"></i>
                        <span>
                            <strong>Domestic Market:</strong>
                            Comprehensive distribution throughout India.
                        </span>
                    </li>
                    <li>
                        <i class="fas fa-circle"></i>
                        <span> 
                            <strong>International Market:</strong>
                            Exporting granite blocks to China and Europe, and polished 
                            slabs to the UAE, Vietnam, and Turkey.
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>    
    <!-- end about section  -->

    <!-- vision and mission -->
    <section class="form pq-form-bg">
        <div class="container p-3 mb-3">
            <div class="row justify-content-center shadow-lg">
                <!-- Vision Section -->
                <div class="col-xl-6 col-lg-9 col-md-9 p-xl-0 wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                    <div class="pq-fancy-box pq-style-1">
                        <div class="d-flex justify-content-center">
                            <img src="{% static './images/about-us/vision.svg' %}" alt="Stonehenge Granites Vision">
                        </div>
                        <div class="pq-fancy-box-info">
                            <h5 class="d-flex justify-content-center pq-fancy-box-title">Our Vision</h5>
                            <p class="pq-fancy-box-description px-2 text-center">
                                At <strong>Stonehenge Granites</strong>, we envision becoming the leading supplier of premium granite and natural stone solutions in India and globally. With a focus on sustainable sourcing, innovation, and high-quality craftsmanship, we aim to transform spaces through beautiful stone installations.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Mission Section -->
                <div class="col-xl-6 col-lg-9 col-md-9 p-xl-0 wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                    <div class="pq-fancy-box pq-style-1">
                        <div class="d-flex justify-content-center">
                            <img src="{% static './images/about-us/misson.svg' %}" alt="Stonehenge Granites Mission">
                        </div>
                        <div class="pq-fancy-box-info">
                            <h5 class="d-flex justify-content-center pq-fancy-box-title">Our Mission</h5>
                            <p class="pq-fancy-box-description px-2 text-center">
                                Our mission is to provide high-quality granite and natural stone products that cater to the diverse needs of residential and commercial spaces. We strive to deliver excellence in every project, from kitchen countertops to grand flooring installations, with a commitment to customer satisfaction, sustainability, and craftsmanship.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end vision and mission -->

    <!-- statics  -->
    <section class="counter pq-counter-60 pq-bg-dark d-none">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-3 col-md-6">
                    <div class="pq-counter pq-counter-style-1 text-center pq-border-right">
                        <div class="pq-counter-info">
                            <div class="pq-counter-num-prefix">
                                <h5 class="timer" data-to="500" data-speed="5000">500</h5>
                                <span class="pq-counter-prefix">+</span>
                            </div>
                            <p class="pq-counter-description">Happy Customers</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
                    <div class="pq-counter pq-counter-style-1 text-center pq-border-right">
                        <div class="pq-counter-info">
                            <div class="pq-counter-num-prefix">
                                <h5 class="timer" data-to="200" data-speed="5000">200</h5>
                                <span class="pq-counter-prefix">+</span>
                            </div>
                            <p class="pq-counter-description">Projects Completed</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                    <div class="pq-counter pq-counter-style-1 text-center pq-border-right">
                        <div class="pq-counter-info">
                            <div class="pq-counter-num-prefix">
                                <h5 class="timer" data-to="50" data-speed="5000">50</h5>
                                <span class="pq-counter-prefix">+</span>
                            </div>
                            <p class="pq-counter-description">Products Varieties</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                    <div class="pq-counter pq-counter-style-1 text-center">
                        <div class="pq-counter-info">
                            <div class="pq-counter-num-prefix">
                                <h5 class="timer" data-to="15" data-speed="5000">15</h5>
                                <span class="pq-counter-prefix">+</span>
                            </div>
                            <p class="pq-counter-description">Years in Business</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end statics  -->

    <!-- Skill -->
    <section class="skill pq-bg-img-1">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-6 col-lg-12 wow animated fadeInLeft">
                    <div class="pq-sticky-top">
                        <div class="pq-section-title pq-style-1 pq-mb-30">
                            <span class="pq-section-sub-title">Our Skill</span>
                            <h5 class="pq-section-main-title">Expertise &amp; Innovation in Granite Solutions</h5>
                            <p class="pq-section-description">At Stonehenge Granites, we are dedicated to deliver exceptional quality and craftsmanship in every granite product, ensuring stunning and durable solutions tailored to your needs.</p>
                        </div>
                        <a class="pq-button pq-button-flat" href="./products">
                            <div class="pq-button-block">
                                <span class="pq-button-text">Read More</span>
                                <span class="pq-button-line-right"></span>
                                <i class="ion ion-ios-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
    
                <div class="col-xl-4 col-lg-12 wow animated fadeInRight">
                    <div class="pq-counter pq-counter-style-2">
                        <div class="pq-counter-info">
                            <div class="pq-counter-num-prefix">
                                <h5 class="timer" data-to="500" data-speed="5000">500</h5>
                                <span class="pq-counter-prefix">+</span>
                            </div>
                            <h6 class="pq-counter-title">Happy Customers</h6>
                            <p class="pq-counter-description">We prioritize customer satisfaction, establishing Stonehenge Granites as a trusted partner for all your granite needs.</p>
                        </div>
                    </div>
    
                    <div class="pq-counter pq-counter-style-2">
                        <div class="pq-counter-info">
                            <div class="pq-counter-num-prefix">
                                <h5 class="timer" data-to="200" data-speed="5000">200</h5>
                                <span class="pq-counter-prefix">+</span>
                            </div>
                            <h6 class="pq-counter-title">Projects Completed</h6>
                            <p class="pq-counter-description">Our portfolio showcases a wide range of successfully completed projects, demonstrating our capacity for custom granite solutions.</p>
                        </div>
                    </div>
    
                    <div class="pq-counter pq-counter-style-2">
                        <div class="pq-counter-info">
                            <div class="pq-counter-num-prefix">
                                <h5 class="timer" data-to="50" data-speed="5000">50</h5>
                                <span class="pq-counter-prefix">+</span>
                            </div>
                            <h6 class="pq-counter-title">Product Varieties</h6>
                            <p class="pq-counter-description">We offer a diverse selection of granite products, expertly crafted to ensure each installation is long-lasting and beautiful.</p>
                        </div>
                    </div>
    
                    <div class="pq-counter pq-counter-style-2 border-0 mb-0 pb-0">
                        <div class="pq-counter-info">
                            <div class="pq-counter-num-prefix">
                                <h5 class="timer" data-to="15" data-speed="5000">15</h5>
                                <span class="pq-counter-prefix">+</span>
                            </div>
                            <h6 class="pq-counter-title">Years in Business</h6>
                            <p class="pq-counter-description">With over 15 years in the granite industry, we combine extensive knowledge and expertise to ensure exceptional quality in every project.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>        
    <!-- Skill -->
  
    <!-- Testimonial -->
    <section class="testimonial pq-bg-dark pq-bg-img-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-8 wow animated fadeInLeft">
                    <div class="pq-section-title pq-style-1">
                        <span class="pq-section-sub-title">Testimonial</span>
                        <h5 class="pq-section-main-title pq-text-white">What Our Clients Say</h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 wow animated fadeInLeft">
                    <div class="button-align d-none">
                        <a class="pq-button pq-button-flat" href="./contact-us">
                            <div class="pq-button-block">
                                <span class="pq-button-text">view more </span>
                                <span class="pq-button-line-right"></span>
                                <i class="ion ion-ios-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="divider pq-left-border pq-45"></div>
                </div>
                <div class="col-lg-12 wow animated fadeInUp">
                    <div class="owl-carousel owl-loaded owl-drag" data-dots="true" data-nav="false" data-desk_num="2"
                        data-lap_num="2" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="true"
                        data-loop="false" data-margin="30">
                        <div class="item">
                            <div class="pq-testimonial-box pq-style-3">
                                <div class="pq-testimonial-info">
                                    <div class="pq-testimonial-content">
                                        <div class="pq-testimonial-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="pq-testimonial-icon">
                                            <i class="fas fa-quote-left"></i>
                                        </div>
                                        <p class="pq-testimonial-description">I chose the Black Pearl granite for my kitchen, and it has transformed the space! The team was professional and attentive. Highly Recommended!</p>
                                    </div>
                                    <div class="pq-testimonial-media">
                                        <div class="pq-testimonial-img">
                                            <img decoding="async" src="{% static 'images/testimonial/reviews-1.png' %}" alt="Testimonial-image">
                                        </div>
                                        <div class="pq-testimonial-meta">
                                            <h5 class="pq-testmonial-title">Rahul Sharma</h5>
                                            <span>Homeowner</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pq-testimonial-box pq-style-3">
                                <div class="pq-testimonial-info">
                                    <div class="pq-testimonial-content">
                                        <div class="pq-testimonial-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="pq-testimonial-icon">
                                            <i class="fas fa-quote-left"></i>
                                        </div>
                                        <p class="pq-testimonial-description">The Tan Brown granite added elegance to my home! Great service and quality. Will definitely use them again!</p>
                                    </div>
                                    <div class="pq-testimonial-media">
                                        <div class="pq-testimonial-img">
                                            <img decoding="async" src="{% static 'images/testimonial/reviews-2.png' %}" alt="Testimonial-image">
                                        </div>
                                        <div class="pq-testimonial-meta">
                                            <h5 class="pq-testmonial-title">Sunita Verma</h5>
                                            <span>Interior Designer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pq-testimonial-box pq-style-3">
                                <div class="pq-testimonial-info">
                                    <div class="pq-testimonial-content">
                                        <div class="pq-testimonial-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="pq-testimonial-icon">
                                            <i class="fas fa-quote-left"></i>
                                        </div>
                                        <p class="pq-testimonial-description">"The Steel Grey Light granite we chose for our living room looks stunning! Very happy with the quality and service!"</p>
                                    </div>
                                    <div class="pq-testimonial-media">
                                        <div class="pq-testimonial-img">
                                            <img decoding="async" src="{% static 'images/testimonial/reviews-3.png' %}" alt="Testimonial-image">
                                        </div>
                                        <div class="pq-testimonial-meta">
                                            <h5 class="pq-testmonial-title">Anil Kumar</h5>
                                            <span>Contractor</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial -->

    <!-- Discover -->
    <section class="discover">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-8 wow animated fadeInRight">
                    <div class="pq-section-title pq-style-1">
                        <span class="pq-section-sub-title">Quality Beyond Expectations</span>
                        <h5 class="pq-section-main-title">Enhance Your Space with Our Premium Granite</h5>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="divider pq-left-border pq-45"></div>
                </div>
                <div class="col-lg-12 wow fadeInUp">
                    <div class="pq-accordion-block pq-style-3">
                        <div class="pq-accordion-block">
                            <div class="pq-accordion-box pq-active 1">
                                <div class="pq-ad-title">
                                    <h4 class="ad-title-text">
                                        What types of granite are available in our collection?
                                        <i aria-hidden="true" class="ion ion-plus-round active"></i>
                                        <i aria-hidden="true" class="ion ion-minus-round inactive"></i>
                                    </h4>
                                </div>
                                <div class="pq-accordion-details">
                                    <p class="pq-detail-text">Our premium granite selection includes Steel Grey Light, Steel Grey Dark, Black Pearl, Maple Red, Tan Brown, Galaxy Black, and many other exquisite options, catering to modern and traditional design aesthetics.</p>
                                </div>
                            </div>
                        </div>
                        <div class="pq-accordion-block">
                            <div class="pq-accordion-box 4">
                                <div class="pq-ad-title">
                                    <h4 class="ad-title-text">
                                        Why is granite an eco-friendly choice?
                                        <i aria-hidden="true" class="ion ion-plus-round active"></i>
                                        <i aria-hidden="true" class="ion ion-minus-round inactive"></i>
                                    </h4>
                                </div>
                                <div class="pq-accordion-details">
                                    <p class="pq-detail-text">Granite is a sustainable and long-lasting material, sourced from natural quarries, reducing environmental impact while offering timeless beauty.</p>
                                </div>
                            </div>
                        </div>
                        <div class="pq-accordion-block">
                            <div class="pq-accordion-box 4">
                                <div class="pq-ad-title">
                                    <h4 class="ad-title-text">
                                        What makes granite a sustainable choice?
                                        <i aria-hidden="true" class="ion ion-plus-round active"></i>
                                        <i aria-hidden="true" class="ion ion-minus-round inactive"></i>
                                    </h4>
                                </div>
                                <div class="pq-accordion-details">
                                    <p class="pq-detail-text">Granite is a natural stone with a long lifecycle, requiring minimal maintenance. Its eco-friendly attributes make it a sustainable choice for modern construction.</p>
                                </div>
                            </div>
                        </div>
                        <div class="pq-accordion-block">
                            <div class="pq-accordion-box 6">
                                <div class="pq-ad-title">
                                    <h4 class="ad-title-text">
                                        Why choose us for your granite needs?
                                        <i aria-hidden="true" class="ion ion-plus-round active"></i>
                                        <i aria-hidden="true" class="ion ion-minus-round inactive"></i>
                                    </h4>
                                </div>
                                <div class="pq-accordion-details">
                                    <p class="pq-detail-text">Our expertise, premium stone quality, and commitment to customer satisfaction make us a trusted name in the granite industry.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Discover -->

    <!-- Award -->
    <section class="award d-none">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-8 wow animated fadeInRight">
                    <div class="pq-section-title pq-style-1">
                        <span class="pq-section-sub-title">what we offer</span>
                        <h5 class="pq-section-main-title">provides best services</h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 wow animated fadeInRight">
                    <div class="button-align d-none">
                        <a class="pq-button pq-button-flat" href="./contact-us">
                            <div class="pq-button-block">
                                <span class="pq-button-text">read more</span>
                                <span class="pq-button-line-right"></span>
                                <i class="ion ion-ios-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="divider pq-right-border pq-45"></div>
                </div>
                <div class="col-lg-12 wow animated fadeInLeft">
                    <div class="pq-awardbox-1-slider pq-awardbox-1">
                        <div class="owl-carousel owl-loaded owl-drag" data-dots="true" data-nav="false" data-desk_num="4" data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="true" data-loop="true" data-margin="30">
                            <div class="item">
                                <div class="pq-awardbox-1">
                                    <a>
                                        <img decoding="async" src="{% static 'images/award/1.png' %}" alt="pq-award-img">
                                        <span class="pq-award-title">employee awards</span>
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pq-awardbox-1">
                                    <a>
                                        <img decoding="async" src="{% static 'images/award/2.png' %}" alt="pq-award-img">
                                        <span class="pq-award-title">cup trophy awards</span>
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pq-awardbox-1">
                                    <a>
                                        <img decoding="async" src="{% static 'images/award/3.png' %}" alt="pq-award-img">
                                        <span class="pq-award-title">design well acetech</span>
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="pq-awardbox-1">
                                    <a>
                                        <img decoding="async" src="{% static 'images/award/4.png' %}" alt="pq-award-img">
                                        <span class="pq-award-title">design well acetech</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Award -->

    {% endblock %}  