<meta name="title" content="Granite Insights & Tips | Stonehenge Granites | Premium Stone Supplier in India">
<meta name="description" content="Stay updated with Stonehenge Granites' blogs for insights on granite types, installation tips, and design ideas. Learn about Steel Grey, Black Pearl, and Tan Brown for your next project.">
<meta name="keywords" content="Stonehenge Granites, granite blogs, granite tips, natural stone insights, steel grey granite, black pearl granite, tan brown granite, granite installation, home decor ideas, premium granite, granite maintenance, stone supplier in India, granite trends, interior design granite, exterior granite applications">    

{% extends 'uifiles/base.html' %}
{% block title %}Stonehenge Granites Blogs | Insights on Premium Granite & Natural Stone{% endblock title %}

{% load static %}
{% block content %}

    <!--Breadcrumb Banner -->
    <div class="pq-breadcrumb bg-blogs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <div class="pq-breadcrumb-title">
                            <h1>Our Latest Blogs</h1>
                        </div>
                        <div class="pq-breadcrumb-container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/"><i class="fas fa-home me-2"></i>Home</a>
                                </li>
                                <li class="breadcrumb-item active">Blogs</li>
                            </ol>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Banner -->

    <!-- blogs section  -->
    <section class="1-column-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pq-blog pq-blog-col-3">
                        <div class="row">

                            {% for blogitem in blog %} 
                            <div class="col-lg-4">
                                <div class="pq-blog-post">
                                    <div class="pq-post-media">
                                        <img decoding="async" src="/media/{{blogitem.Image1}}" alt="Granite Blogs Image">
                                        <div class="pq-post-category">
                                            <a href="/blog/{{blogitem.Sluglink}}/">{{blogitem.Stonename}}</a>
                                        </div>
                                    </div>
                                    <div class="pq-blog-contain">
                                        <div class="pq-post-meta">
                                            <ul>
                                                <li class="pq-post-meta">
                                                    <a href="/blog/{{blogitem.Sluglink}}/">{{blogitem.Create_at}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h5 class="pq-blog-title">
                                            <a href="/blog/{{blogitem.Sluglink}}/">
                                                {{blogitem.Title}}
                                            </a>
                                        </h5>
                                        <p>Discover the unique features and benefits of Steel Grey Light granite, a top choice for modern homes.</p>
                                        <div class="pq-btn-container">
                                            <a href="/blog/{{blogitem.Sluglink}}/"
                                                class="pq-button pq-button-link">
                                                <div class="pq-button-block">
                                                    <div class="pq-svg">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="64.356"
                                                            height="36.52" viewBox="0 0 64.356 36.52">
                                                            <g transform="translate(-6.444 -1.74)">
                                                                <g data-name="Group 2">
                                                                    <circle data-name="Ellipse 2" cx="17" cy="17.76"
                                                                        r="17.76" transform="translate(34.78 2.24)"
                                                                        fill="none" stroke="#30373f" stroke-width="1"
                                                                        opacity="0.5"></circle>
                                                                    <circle data-name="Ellipse 3" cx="17" cy="17.76"
                                                                        r="17.76" transform="translate(34.78 2.24)"
                                                                        fill="none" stroke="#30373f" stroke-width="1">
                                                                    </circle>
                                                                </g>
                                                                <path data-name="Path 1"
                                                                    d="M49.525,14.265l-.627.779,5.583,4.5H6.444v1h48.02L48.9,24.954l.621.783L56.7,20.044Z"
                                                                    fill="#30373f"></path>
                                                            </g>
                                                        </svg>
                                                    </div>
                                                    <span class="pq-button-text">read more </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                        <div class="pq-pagination d-flex justify-content-center">
                            <nav aria-label="Page navigation">
                                <ul class="page-numbers">
                                    <li><span aria-current="page" class="page-numbers current">1</span></li>
                                    <li><a class="page-numbers" href="#">2</a></li>
                                    <li><a class="next page-numbers">Next page</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end blogs sections  -->
   
{% endblock %}    