<meta name="title" content="Best Granite Products in India | Stonehenge Granites | Diverse Granite Varieties">
<meta name="description" content="Discover a diverse range of premium granite and natural stones at Stonehenge Granites. From Steel Grey to Tan Brown, we provide high-quality products for every project, from countertops to flooring.">
<meta name="keywords" content="Stonehenge Granites, granite supplier india, premium granite products, natural stones, steel grey granite, tan brown granite, black pearl granite, granite countertops, granite tiles, granite slabs, granite for flooring, granite for interiors, affordable granite india, high-quality granite, Indian granite supplier, construction materials, natural stone products, durable granite solutions">

{% extends 'uifiles/base.html' %}
{% block title %}Stonehenge Granites Products | Wide Range of Premium Granite & Natural Stones{% endblock title %}

{% load static %}
{% block content %}
    <!--Breadcrumb Banner -->
    <div class="pq-breadcrumb bg-products">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <div class="pq-breadcrumb-title">
                            <h1>Our Products</h1>
                        </div>
                        <div class="pq-breadcrumb-container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/"><i class="fas fa-home me-2"></i>Home</a>
                                </li>
                                <li class="breadcrumb-item active">Products</li>
                            </ol>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>    
    <!-- Breadcrumb Banner -->

    <!-- Services -->
    <section class="services">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-8">
                    <div class="pq-section-title pq-style-1">
                        <span class="pq-section-sub-title">what we offer</span>
                        <h5 class="pq-section-main-title">provides best services</h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="button-align">
                        <a class="pq-button pq-button-flat" href="/contact/">
                            <div class="pq-button-block">
                                <span class="pq-button-text">For More Details</span>
                                <span class="pq-button-line-right"></span>
                                <i class="ion ion-ios-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="divider pq-right-border pq-45"></div>
                </div>
                <div class="col-lg-4 col-md-6 wow animated fadeInUp">
                    <div class="pq-service-box pq-style-3 text-center">
                        <div class="pq-service-media">
                            <div class="pq-service-img">
                                <img decoding="async" src="{% static 'images/service/steel-grey-light.webp' %}" alt="Steel Grey Light Granite - Stonehenge Granites">
                            </div>
                        </div>
                        <div class="pq-service-info">
                            <h5 class="pq-service-title">
                                <a href="/steel-grey-light/">Steel Grey Light</a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-md-0 wow animated fadeInUp">
                    <div class="pq-service-box pq-style-3 text-center">
                        <div class="pq-service-media">
                            <div class="pq-service-img">
                                <img decoding="async" src="{% static 'images/service/steel-grey-dark.webp' %}" alt="Steel Grey Dark Granite - Stonehenge Granites">
                            </div>
                        </div>
                        <div class="pq-service-info">
                            <h4 class="pq-service-title">
                                <a href="/steel-grey-dark/">Steel Grey Dark</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0 wow animated fadeInUp">
                    <div class="pq-service-box pq-style-3 text-center">
                        <div class="pq-service-media">
                            <div class="pq-service-img">
                                <img decoding="async" src="{% static 'images/service/black-peral.webp' %}" alt="Black Pearl Granite - Stonehenge Granites">
                            </div>
                        </div>
                        <div class="pq-service-info">
                            <h5 class="pq-service-title">
                                <a href="/black-pearl/">Black Pearl</a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0 wow animated fadeInUp">
                    <div class="pq-service-box pq-style-3 text-center">
                        <div class="pq-service-media">
                            <div class="pq-service-img">
                                <img decoding="async" src="{% static 'images/service/maple-red.webp' %}" alt="Maple Red Granite - Stonehenge Granites">
                            </div>
                        </div>
                        <div class="pq-service-info">
                            <h5 class="pq-service-title">
                                <a href="/maple-red/">Maple Red</a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-md-0 wow animated fadeInUp">
                    <div class="pq-service-box pq-style-3 text-center">
                        <div class="pq-service-media">
                            <div class="pq-service-img">
                                <img decoding="async" src="{% static 'images/service/tan-brown.webp' %}" alt="Tan Brown Granite - Stonehenge Granites">
                            </div>
                        </div>
                        <div class="pq-service-info">
                            <h4 class="pq-service-title">
                                <a href="/tan-brown/">Tan Brown</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0 wow animated fadeInUp">
                    <div class="pq-service-box pq-style-3 text-center">
                        <div class="pq-service-media">
                            <div class="pq-service-img">
                                <img decoding="async" src="{% static 'images/service/black-galaxy.webp' %}" alt="Black Galaxy Granite - Stonehenge Granites">
                            </div>
                        </div>
                        <div class="pq-service-info">
                            <h5 class="pq-service-title">
                                <a href="/galaxy/">Galaxy</a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services -->
    
    {% endblock %}  